{% extends "template" %}
{% block content %}
<h1>TCP Connected &mdash; {{ device.name }}</h1>
{% if d.is_configured %}
<p class="alert alert-info" role="alert">
Note that this Hub is already configured,
so you don't have to do this again.
</p>
{% endif %}
<p class="alert alert-info" role="alert">
When you're ready, push the button with two circular
arrows on the TCP Connected Hub.
After you do this, the lights around the button will
start rotating.
<br />
<br />
Then press the pair button below.
</p>
<p>
<a type="button" class="btn btn-primary" href="?action=pair">Pair</a>
</p>
<ul>
    <li>
        <a href="{{ html_root }}">Back to Hub List</a>
    </li>
</ul>
{% endblock %}
